/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

.container {
    width: 80vw;
    margin: 0 auto;
    margin-top: 3vh;
}

body {
    width: 90vw;
    margin: 0 auto;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    margin-top: 3vh;
}